<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" href="/assets/css/style.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/assets/img/tasks-logo2.png" />

    <title>Task App</title>
  </head>
  <body>
    <div class="headline">
      <img class="logo" src="/assets/img/tasks-logo2.png" alt="Tasks Logo" />
      <h1>Tasks</h1>
    </div>
    <div id="date"></div>
    <p>This is a task app. Sign-In Here</p>
  </body>
</html>
