:root {
  --color-gray-50: hsl(210deg, 19%, 10%);
  --color-gray-100: hsl(210deg, 15%, 20%);
  --color-gray-200: hsl(210deg, 15%, 25%);
  --color-gray-300: hsl(210deg, 10%, 40%);
  --color-gray-400: hsl(210deg, 9%, 45%);
  --color-gray-500: hsl(210deg, 8%, 50%);
  --color-gray-600: hsl(210deg, 12%, 55%);
  --color-gray-700: hsl(210deg, 14%, 66%);
  --color-gray-800: hsl(210deg, 20%, 77%);
  --color-gray-900: hsl(210deg, 25%, 88%);
  --color-gray-1000: hsl(210deg, 25%, 96%);
  --color-background: #fff1f2;
  --color-headline: #094067;
  --color-paragraph: #5f6c7b;
  --color-button: #3da9fc;
  --color-button-hover: #3598e4;
  --color-button-text: #fff;
  --color-stroke: #094067;
  --color-tertiary: #ef4565;
  /* Neutrals */
  --color-neutral-50: #27241d;
  --color-neutral-100: #423d33;
  --color-neutral-200: #504a40;
  --color-neutral-300: #625d52;
  --color-neutral-400: #857f72;
  --color-neutral-500: #a39f93;
  --color-neutral-600: #b8b2a7;
  --color-neutral-700: #d3cec4;
  --color-neutral-800: #e8e6e1;
  --color-neutral-900: #f5f5f4;
  /* Primary Cyan*/
  --color-primary-50: #044e54;
  --color-primary-100: #0a6c74;
  --color-primary-200: #0d7f86;
  --color-primary-300: #14919b;
  --color-primary-400: #2cb1bc;
  --color-primary-500: #38bec9;
  --color-primary-600: #54d1db;
  --color-primary-700: #87eaf2;
  --color-primary-800: #b8f8fd;
  --color-primary-900: #e0fcff;
  /* Secondary Blue */
  --color-secondary-50: #003e6b;
  --color-secondary-100: #0a558c;
  --color-secondary-200: #0f609b;
  --color-secondary-300: #186faf;
  --color-secondary-400: #2680c2;
  --color-secondary-500: #4098d7;
  --color-secondary-600: #62b0e8;
  --color-secondary-700: #84c5f4;
  --color-secondary-800: #b6e0fe;
  --color-secondary-900: #dceefb;
  /* Secondary Red */
  --color-secondary-red-50: #610404;
  --color-secondary-red-100: #780a0a;
  --color-secondary-red-200: #911111;
  --color-secondary-red-300: #a61b1b;
  --color-secondary-red-400: #ba2525;
  --color-secondary-red-500: #d64545;
  --color-secondary-red-600: #e66a6a;
  --color-secondary-red-700: #f29b9b;
  --color-secondary-red-800: #facdcd;
  --color-secondary-red-900: #ffeeee;
  /* Secondary Yellow */
  --color-secondary-yellow-50: #513c06;
  --color-secondary-yellow-100: #7c5e10;
  --color-secondary-yellow-200: #a27c1a;
  --color-secondary-yellow-300: #c99a2e;
  --color-secondary-yellow-400: #e9b949;
  --color-secondary-yellow-500: #f7d070;
  --color-secondary-yellow-600: #f9da8b;
  --color-secondary-yellow-700: #f8e3a3;
  --color-secondary-yellow-800: #fcefc7;
  --color-secondary-yellow-900: #fcfbeb;
  /* Secondary Teal */
  --color-secondary-teal-50: #014d40;
  --color-secondary-teal-100: #0c6b58;
  --color-secondary-teal-200: #147d64;
  --color-secondary-teal-300: #199473;
  --color-secondary-teal-400: #27ab83;
  --color-secondary-teal-500: #3ebd93;
  --color-secondary-teal-600: #65d6ad;
  --color-secondary-teal-700: #8eecd5;
  --color-secondary-teal-800: #c6f7e2;
  --color-secondary-teal-900: #effcf6;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

h1 {
  color: #333;
}

p {
  margin-bottom: 20px;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 15px;
}

.source {
  font-size: 0.9em;
  font-style: italic;
}

#create {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: fit-content;
}

label {
  width: 100%;
  max-width: 300px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
textarea {
  width: 300px;
  max-width: 500px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#description {
  height: 200px;
  resize: vertical;
}

input[type="submit"] {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  background-color: var(--color-button);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--color-button-hover);
}

.logo {
  height: 50px;
  max-width: 50px;
  margin: 20px;
}

.headline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.horizontal-bar {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin: 20px 0;
}

/* Styles for task elements */
.task {
  background-color: var(--color-gray-1000);
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.task h2 {
  color: #333;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.task p {
  color: #666;
  margin-bottom: 10px;
}

.task button.delete-button {
  background-color: var(--color-tertiary);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;
}

.task button.delete-button:hover {
  background-color: #c82333;
}

.task button.update-button,
.task button.update-form-button,
.task button.cancel-button {
  background-color: var(--color-button);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;
  margin-right: 10px;
}

.task button.update-button:hover,
.task button.update-form-button:hover,
.task button.cancel-button:hover {
  background-color: var(--color-button-hover);
}

#task-list {
  margin-top: 20px;
}
/* task deletion method style */
.message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #00bfff;
  color: white;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Add these styles for sign-in and sign-up forms */
form#signin-form,
form#signup-form {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--color-gray-1000);
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

form#signin-form label,
form#signup-form label {
  color: var(--color-gray-300);
  margin-bottom: 5px;
}

form#signin-form input[type="email"],
form#signin-form input[type="password"],
form#signup-form input[type="email"],
form#signup-form input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form#signin-form button,
form#signup-form button {
  width: 100%;
  padding: 10px;
  background-color: var(--color-button);
  color: var(--color-button-text);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form#signin-form button:hover,
form#signup-form button:hover {
  background-color: var(--color-button-hover);
}

/* Adjusting font color for forms */
form#signin-form label,
form#signup-form label {
  color: var(--color-gray-200);
}
